/*
 *  Globals
 */

/*
 *  Header
 */

 #masthead {
    width: 90%;
    margin: 0 auto;
}

 .site-branding {
     float: left;
 }

 .main-navigation {
     clear: none;
     display: block;
     float: none;
     width: 80%;
     margin: 15px auto;
 }

 .main-navigation li {
     margin: 0 50px;
 }

/*
 *  Page Content
 */

 .ellipsis {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
 *  Logged Out Homepage
 */

 .slider-section {
   margin: 40px 0;
   padding: 40px;
   background-color: #d2d0d0;
   overflow: hidden;
 }

 .slider-section .content-container {
    text-align: center;
}

.facebook-login-container {
  width: 45%;
  float: left;
  text-align: center;
}

.or-divider {
  width: 10%;
  display: inline-block;
  text-align: center;
}

.or-divider hr {
    color: black;
    background-color: black;
    border: 0;
    height: 100px;
    margin-bottom: 1.5em;
}

.wordpress-login-container {
  width: 45%;
  float: right;
  text-align: center;
}

.photo-upload-container {
  width: 37%;
  float: left;
  background: #dadada;
  margin: 20px;
  text-align: center;
  padding: 100px;
}

.photo-upload-container i {
    color: white;
    font-size: 125px;
}

.filter-container {
  width: 10%;
  display: inline-block;
}

.filter-icon {
  width: 75px;
  height: 75px;
  margin: 10px 0;
  background: white;
}

.pet-profile-container {
  width: 50%;
  float: right;
  display: inline-block;
}

/*
 *  Logged In Dashboard
 */

.logged-in-dashboard {

}

.subscribe-box {
  padding: 40px;
  text-align: center;
}

.articles-container {
  padding: 40px 0;
  clear: both;
}


.manage-registry {
  padding-top: 40px;
}